<%= link_to("<< Back to List", tasks_path, :class => 'back-link') %>

<div class="tasks new">
  <h2>Create Task</h2>
  <%= form_for(@task, :url => tasks_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>
    </table>
    <br> </br>

    <div class="form-buttons">
      <h3><%= f.submit("Create Task") %></h3>
    </div>

  <% end %>
</div>
